<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Pokedex Api </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pokemon of listaPokemon">
    <ion-card-header>
      <ion-card-title class="titulo"
        >{{pokemon.name | uppercase}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#001</ion-card-subtitle>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      />
      <ion-item lines="none">
        <ion-badge slot="start" color="verde-claro">Glass</ion-badge>
        <ion-badge color="roxo">Paison</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
