<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Pokedex Api </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pokemon of listaPokemon">
    <ion-card-header>
      <ion-card-title class="titulo"
        >{{pokemon.name | uppercase}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#001</ion-card-subtitle>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      />
      <ion-item lines="none">
        <ion-badge slot="start" color="verde-claro">Glass</ion-badge>
        <ion-badge color="roxo">Paison</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Charmander</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#004</ion-card-subtitle>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png"
      />
      <ion-item lines="none">
        <ion-badge slot="start" color="fire">Fire</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Squirtle</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#007</ion-card-subtitle>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png"
      />
      <ion-item lines="none">
        <ion-badge slot="start" color="azul-agua">Water</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Pikachu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#025</ion-card-subtitle>
      <img
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png"
      />
      <ion-item lines="none">
        <ion-badge slot="start" color="amarelo">Eletric</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
