<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Pokedex Api </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card
    *ngFor="let pokemon of listaPokemon"
    [color]="pokemon.types[0].type.name"
  >
    <ion-card-header>
      <ion-card-title class="titulo"
        >{{pokemon.name | uppercase}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>#{{pokemon.id}}</ion-card-subtitle>
      <img
        [src]="'https://assets.pokemon.com/assets/cms2/img/pokedex/detail/' +pokemon.id.toString().padStart(3, '0') +'.png'"
      />
      <ion-item lines="none">
        <ion-badge *ngFor="let type of pokemon.types" [color]="type.type.name"
          >{{type.type.name}}</ion-badge
        >
      </ion-item>
    </ion-card-content>  
  </ion-card>
</ion-content>
